/* =================ROOT========================*/
:root {
    --logo-orange: hsl(0,100%,67%);
    --cloud-white: hsl(225,2%,90%);
    --mountain-light-gray: hsl(40,2%,47%);
    --mountain-medium-gray: hsl(45, 2%, 37%);
    --mountain-dark-gray: hsl(40, 2%, 27%);
}
/* =================/ROOT========================*/


/* =================RESETS========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */

    /* font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif; */
}
/* =================/RESETS========================*/

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    position: sticky;
    top: 0;
    background: hsla(0, 0%, 100%, .75);
    border-bottom: 1px solid var(--mountain-light-gray);
}

#logo {
    width: 13vw;
}

nav a {
    color: var(--mountain-medium-gray);
    text-decoration: none;
    margin: 0 0.5rem;
    font-family: 'Roboto Slab', serif;

}

nav a:hover {
    border-bottom: 2px solid var(--mountain-dark-gray);
    color: var(--logo-orange);
}

.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}

/* disabling underline for active page link */
.current-page-link:hover {
    /* border-bottom: inherit; */
    /* color: var(--mountain-medium-gray); */
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

#hero-container {
    display: flex;
    flex-direction: column;
    background: url(./images/paul-pastourmatzis-r0J9sGBWFOc-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
    height: 50vw;
}

main {
    margin: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    color: var(--mountain-dark-gray);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.profile-pic img {
    width: 40vw;
    border-radius: 50%;
}

article h1 {
    font-size: 2rem;
    margin: 1rem 0;
}
article p {
    text-align: center;
    margin-bottom: 1rem;
}
article {
    margin: auto;
}

article div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h2 {
    margin: 0 0 1rem 0;
}

article input {
    margin: 0 0 1rem 0;
}

.btn {
    padding: .5rem 1rem;
    border-radius: .25rem;
} 

.btn-subscribe {
    background: var(--mountain-light-gray);
    border: 1px solid var(--mountain-dark-gray);
    color: var(--cloud-white);
    margin: 0 0 3rem 0;
}

.btn-subscribe:hover {
    background-color: var(--logo-orange);
    cursor: pointer;
}

.social-links {
    border-top: 2px solid var(--mountain-dark-gray);
    flex: 100%;
}

.social-links div div {
    display: flex;
    justify-content: flex-star;
    /* background: red; */
}

.social-links p {
    margin: .5rem 0;
}

footer {
    margin: 0 0 1.25rem 1.25rem;
    font-size: .75rem;
}

footer a {
    color: var(--mountain-dark-gray);
    text-decoration: none;
}

footer a:hover {
    color: var(--logo-orange)
}













/* ===========Coder Academy footer=================*/
/* .attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(194,53%,52%); 
 } */
/* ===========Coder Academy footer=================*/
