/* used for about.html current page link styling
commenting out untill i start about.html */
.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.current-page-link:hover {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

.info div p {
    text-align:justify
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-container h3 {
    margin: 0 0 1rem .5rem;
}

.phone-container,
.email-container,
.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container p {
    margin: 0 0 0 1rem;
}

.contact-container a {
    color: var(--mountain-dark-gray);
    text-decoration: none;
}

.contact-container a:hover {
    color: var(--logo-orange);
}