#hero-container {
    background: url(../images/patrick-federi-wMhj9icaHhA-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    /* Need to include this here as it doesnt seem to inherti from index-style.css */
    background-size: cover;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact-container h3 {
    margin: 0 0 1rem .5rem;
}

.phone-container,
.email-container,
.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container p {
    margin: 0 0 0 1rem;
}

.contact-container a {
    color: var(--mountain-dark-gray);
    text-decoration: none;
}

.contact-container a:hover {
    color: var(--logo-orange);
}