/* have tried using the base styles for hero-image here but it wasnt working so need to put each hero image and styling into its own class */
.hero-container.alaska{
    background: url(../images/alaska-the-wrangles.JPG) var(--mountain-light-gray) no-repeat 25% 35%;
    background-size: cover;
}

.hero-container.near-death {
    background: url(../images/jo-anne-mcarthur-oitD52FFUu0-unsplash.jpg) var(--mountain-light-gray) no-repeat 25% 30%;
    background-size: cover;
}

.hero-container.coda {
    background: url(../images/Coda.jpg) var(--mountain-light-gray) no-repeat 25% 42%;
    background-size: cover;
}
.hero-container.ments {
    background: url(../images/hollow-trees.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}
.hero-container.austria {
    background: url(../images/austria-peaks.JPG) var(--mountain-light-gray) no-repeat 50% 20%;
    background-size: cover;
}

.blog-nav {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid var(--mountain-medium-gray);
    border-radius: .25rem;
    padding: 0.5rem;
}

.blog-nav a {
    text-decoration: none;
}

.blog-nav a:hover {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}

.blog-current-page-link {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.blog-current-page-link:hover {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    cursor:initial;
}


.title {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    margin-bottom: .5rem;
}

article p {
    margin: 2rem 1rem;
}

.blog-preview-card  p {
    text-align: justify;
}

.blog-photos {
    margin: 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-photos img {
    min-width: 100px;
    max-width: 200px;
    border: 2px solid var(--mountain-light-gray);
}

.blog-photos img:hover {
    border: 2px solid var(--logo-orange);
    cursor: pointer;

}

@media screen and (max-width: 500px) {
    .blog-nav {
        justify-content: center;
    }

    .blog-photos img {
        min-width: 20px;
        max-width: 100px;
    }
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .blog-preview-card {
        flex: 25%;
        min-height: 50vw;
    }

    article {
        flex: 100%;
    }
}

@media screen and (min-width: 700px) {
    article p {
        margin: 2rem 5rem;
    }
}



@media screen and (min-width: 900px) {
    .blog-preview-card {
        flex: calc(100% / 4);
        min-height: 50vh;
    }

    article {
        flex: 100%;
    }
 }