#hero-container {
    background: url(../images/joel-vodell-_wwJdDj7D6I-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

/* used for about.html current page link styling
commenting out untill i start about.html */
.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.current-page-link:hover {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

article h1,
article h3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}

.blog-preview-card {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    background: var(--mountain-light-gray-transparent);
    border: 2px solid var(--mountain-light-gray);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 var(--mountain-light-gray)
}

/* .blog-preview-card:hover {
    border: 2px solid var(--logo-orange);
    transform: scale(1.01);
    cursor: pointer;
} */


.blog-preview-card  img {
    flex: 100%;
    height: 30vw;
    max-height: 150px;
    /* max-width: 100vw; */
    margin-bottom: .5rem;
    border-radius: 5px;

}

.title {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    margin-bottom: .5rem;
}

.blog-preview-card  p {
    text-align: justify;
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .blog-preview-card {
        flex: 25%;
        min-height: 50vw;
    }

    article {
        flex: 100%;
    }
}

@media screen and (min-width: 900px) {
.blog-preview-card {
    flex: calc(100% / 4);
    min-height: 50vh;
}

article {
    flex: 100%;
}
}