#hero-container {
    background: url(../images/joel-vodell-_wwJdDj7D6I-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

.blog-nav {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid var(--mountain-medium-gray);
    padding: 0.5rem;
}

.blog-nav a {
    font-size: .8rem;
    text-decoration: none;
}

.blog-nav a:hover {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}

.blog-current-page-link {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.blog-current-page-link:hover {
    border-bottom: 1px dotted var(--mountain-dark-gray);
    cursor:initial;
}


.title {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    margin-bottom: .5rem;
}

.blog-preview-card  p {
    text-align: justify;
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .blog-preview-card {
        flex: 25%;
        min-height: 50vw;
    }

    article {
        flex: 100%;
    }
}

@media screen and (min-width: 900px) {
.blog-preview-card {
    flex: calc(100% / 4);
    min-height: 50vh;
}

article {
    flex: 100%;
}
}