#hero-container {
    background: url(../images/joel-vodell-_wwJdDj7D6I-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

/* used for about.html current page link styling
commenting out untill i start about.html */
.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.current-page-link:hover {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

article h1,
article h3 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}

.feature {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.feature  img {
    flex: 100%;
    height: 30vw;
    max-height: 150px;
    /* max-width: 100vw; */
    margin-bottom: 1rem;
}

.title {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    margin-bottom: 1rem;
}

.feature  p {
    text-align: justify;
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .feature {
        flex: 25%;
        min-height: 50vw;
    }

    article {
        flex: 100%;
    }
}

@media screen and (min-width: 900px) {
.feature {
    flex: calc(100% / 4);
    min-height: 50vh;
}

article {
    flex: 100%;
}
}