.hero-container {
    background: url(../images/darrin-henein-sREvt-W52Tc-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

/* article a,
.preview-card a {
    color: var(--mountain-dark-gray);  
} */

.preview-card h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.preview-card  p {
    text-align: justify;
}

/* .preview-card a {
    margin: 1rem 0 0 1rem;
}

.preview-card a:hover,
article a:hover {
    color: var(--logo-orange);
    cursor: pointer;
} */

@media screen and (max-width: 600px) {
    .preview-card {
        margin: 1rem auto;
    }
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .preview-card {
        flex: 25%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
    .preview-card {
        flex: calc(100% / 4);
    }
}

@media screen and (min-width: 1100px) {
    main {
        justify-content: center;
        align-items: center;
        margin: 1.25rem 13rem;
    }
}