#hero-container {
    background: url(../images/darrin-henein-sREvt-W52Tc-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

/* used for about.html current page link styling
commenting out untill i start about.html */
.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.current-page-link:hover {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

/* article h1,
article h3 {
    text-align: center;
} */

article P {
    margin: 1rem 0;
    text-align: justify;
}

article a,
.project-preview-card a {
    color: var(--mountain-dark-gray);  
}

.project-preview-card {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0.5rem;
    /* background: var(--mountain-light-gray-transparent); */
    border: 2px solid var(--mountain-light-gray);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--mountain-light-gray);
    max-width: 400px;
}

/* .blog-preview-card:hover {
    border: 2px solid var(--logo-orange);
    transform: scale(1.01);
    cursor: pointer;
} */


.project-preview-card  img {
    flex: 100%;
    height: 30vw;
    max-height: 150px;
    /* max-width: 100vw; */
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 2px solid var(--mountain-light-gray);

}

.project-preview-card h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0;
}

.project-preview-card  p {
    text-align: justify;
}

.project-preview-card a {
    /* color: var(--mountain-dark-gray); */
    margin: 1rem 0 0 1rem;
}

.project-preview-card a:hover,
article a:hover {
    color: var(--logo-orange);
    cursor: pointer;
}

@media screen and (min-width: 500px)and (max-width: 899px){
    .project-preview-card {
        flex: 25%;
        min-height: 50vw;
    }

    article {
        flex: 100%;
    }
}

@media screen and (min-width: 900px) {
.project-preview-card {
    flex: calc(100% / 4);
    min-height: 50vh;
}

article {
    flex: 100%;
}
}