#hero-container {
    background: url(../images/darrin-henein-sREvt-W52Tc-unsplash.jpg) var(--mountain-light-gray) no-repeat center;
    background-size: cover;
}

/* used for about.html current page link styling
commenting out untill i start about.html */
.current-page-link {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    color: var(--logo-orange);
}


.current-page-link:hover {
    border-bottom: 2px dotted var(--mountain-dark-gray);
    cursor:initial;
}

.info div h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.info div p {
    text-align:justify
}

.projects-container a {
    color: var(--mountain-medium-gray);
    text-decoration: none;
}

.projects-container a h3:hover {
    color: var(--logo-orange);
}

.project {
    display: flex;
    margin-bottom: 1rem;
    border: 2px solid var(--mountain-light-gray);
    border-radius: .5rem;

}

.project,
.project img {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}


.project .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-left: 1rem;
}

.project .info-container p {
    font-size: .75rem;
    text-align: left;
}